x@keyframes incorrenct {
    from {background-color: red;}
    to {background-color: yellow;}
}
body {
    margin:					1%;
    margin-top:             10%;
}
.board {
    display:				grid;
    grid-template-rows:		repeat(6, 1fr);
    grid-gap:				5px;
    padding					10px;
    float:                  left;
    position:               fixed;
}
#board2 {
    position:               relative;
    margin-left:            5%;
    float:                  right;
}    
.row {
    display:				grid;
    grid-template-columns:	repeat(5, 1fr);
    gap:					5px;
    margin:					auto;
}
.letterBox {
    width:					70px;
    height:					70px;	
    background-color:		white;
    border:					solid;
    border-color:			grey;
    border-width:			2px;
    animation-name:			example;
    animation-duration:		4s;
    text-transform:			uppercase;
    font-size:				35px;
	display:				inline-flex;
    justify-content:		center;
	align-items:            center;
	vertical-align:			middle;
	box-sizing:				border-box;

}
.letterBox::before {
	content:				"";

}
